<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>

    <th></th>
  </tr>

  <% @user.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
    </td>

    <td>
      <%= user.private %>
    </td>

    <td></td>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>
